//- tamaño
.img90
  max-width: 90px !important
.img160
  max-width: 160px !important
.img250
  max-width: 250px !important
.img300
  max-width: 300px !important
.img350
  max-width: 350px !important
.img400
  max-width: 400px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img750
  max-width: 750px !important
.img850
  max-width: 850px !important
.img900
  max-width: 900px !important

.imagen-adornos-flotantes
  position: relative
  &__img
    img
      position: absolute
      z-index: 99
      animation: float 3s ease-in-out infinite alternate

@keyframes float
  0%
    transform: translateY(10px)

  100%
    transform: translateY(0px)
//alinear contenido//
.justify-center
  display: flex
  justify-content: center !important
  flex-direction: row
.justify-end
  display: flex
  justify-content: flex-end
  flex-direction: row
.justify-star
  display: flex
  justify-content: flex-start
  flex-direction: row
.align-items-center
  display: flex;
  align-items: center;
  flex-direction: row;


.banner-interno__fondo
  background-image: url("../assets/curso/interno.svg") !important
  background-repeat: no-repeat  

.infografia-autores
  position: relative
  &__img
    img
      position: absolute
      transition: opacity 0.3s ease-in-out
      opacity: 0
      &:hover
        opacity: 1
.colorw
  color: $white !important
.modalabso
  position: absolute
  top: 59.3%
  left: 15%

.bgr
  background-color: #FFEECA
  &_1
    background-color: #FFDE96 !important
  &_2
    background-color: #F08B7D !important
  &_3
    background-color: #FFFAEE !important
    border-radius: 10px
  
  
  
//clases sobreescritas//
.cajon.bgr:before
  background-color: #FED981 !important
.tarjeta--azul
  background-color: #FFF6E2 !important
.slyder-a__tipo-a .slyder-a__bullets
  bottom: 0px !important
.tarjeta-flip.color-primario .tarjeta-flip__img
  background-color: #FFC0B7 !important
.tabs-c.color-primario .tabs-c__tab--active
  border-bottom-color: #F08B7D !important
  background-color: #F08B7D !important
.tabs-c.color-primario .tabs-c__tab--active:before
  border-top-color: #F08B7D !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
.boton_1
  background-color: #43A99B
  color: #fff
  padding: 2px 6px
  border-radius: 5px
  display: inline-block
  display: inline-flex
  align-items: center
  transform: scale(1)